body {
  background: #fafafa;
  color: #333333;
}

.full-page:before {
  opacity: 1;
  background: #fafafa;
}

.sidebar .divider {
  height: 1px;
  margin: 5px 0;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.2);
  max-width: 200px;
}

.bg-muted {
  background: #9a9a9a;
}

.bg-primary {
  background: #1d62f0 !important;
}

.bg-info {
  background: #23ccef !important;
}

.bg-success {
  background: #87cb16 !important;
}

.bg-warning {
  background: #ffa534 !important;
}

.bg-dangerr {
  background: #fb404b !important;
}

.side-cart {
}

.cart-item {
  padding: 15px 0 15px 0;
}

.cart-item:hover {
  background: rgba(0, 0, 0, 0.05);
}

.cart-item-text {
  font-size: 0.8rem !important;
  margin-bottom: 0;
}

.cart-remove {
  padding: 3px !important;
  font-size: 16px !important;
}

.ct-green .ct-series-a .ct-slice-pie,
.ct-series-a .ct-area {
  stroke: none;
  fill-opacity: 0.1;
  fill: #87cb16;
}

.ct-chart {
  position: relative;
}

.ct-legend {
  position: relative;
  z-index: 10;
  list-style: none;
  text-align: center;
}

.ct-legend li {
  position: relative;
  padding-left: 23px;
  margin-right: 10px;
  margin-bottom: 3px;
  cursor: pointer;
  display: inline-block;
}

.ct-legend li:before {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0;
  content: "";
  border: 3px solid transparent;
  border-radius: 2px;
}

.ct-legend li.inactive:before {
  background: transparent;
}

.ct-legend.ct-legend-inside {
  position: absolute;
  top: 0;
  right: 0;
}

.ct-legend.ct-legend-inside li {
  display: block;
  margin: 0;
}

.ct-legend .ct-series-0:before {
  background-color: #1dc7ea;
  border-color: #1dc7ea;
}

.ct-legend .ct-series-1:before {
  background-color: #fb404b;
  border-color: #fb404b;
}

.ct-legend .ct-series-2:before {
  background-color: #f4c63d;
  border-color: #f4c63d;
}
.chartist-tooltip {
  position: absolute;
  display: inline-block;
  opacity: 0;
  min-width: 5em;
  padding: 0.5em;
  background: #f4c63d;
  color: #453d3f;
  font-family: Oxygen, Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-align: center;
  pointer-events: none;
  z-index: 1;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.chartist-tooltip:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top-color: #f4c63d;
}
.chartist-tooltip.tooltip-show {
  opacity: 1;
}

.ct-area,
.ct-line {
  pointer-events: none;
}