<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>{{ $title }}</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport'
    />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="../assets/css/fontawesome-all.min.css" rel="stylesheet" />
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../assets/css/theme.css" rel="stylesheet" />
    <link href="../assets/css/style.css" rel="stylesheet" />
</head>

<body>
    <div class="wrapper">
        <!-- Begin Sidebar -->
        <div class="sidebar" data-color="azure">
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="#" class="simple-text logo-mini">U</a>
                    <a href="#" class="simple-text logo-normal">U-Store ERP</a>
                </div>
                <div class="user">
                    <div class="photo">
                        <img src="http://via.placeholder.com/400/fafafa?text=IMG">
                    </div>
                    <div class="info ">
                        <a data-toggle="collapse" href="#myprofile" class="collapsed" aria-expanded="false">
                            <span>Hi, John Doe
                                <b class="caret"></b>
                            </span>
                        </a>
                        <div class="collapse" id="myprofile" style="height: auto;">
                            <ul class="nav">
                                <li>
                                    <a class="profile-dropdown" href="#">
                                        <span class="sidebar-mini">C</span>
                                        <span class="sidebar-normal">Check-In</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="profile-dropdown" href="#">
                                        <span class="sidebar-mini">MS</span>
                                        <span class="sidebar-normal">My Schedule</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="profile-dropdown" href="#">
                                        <span class="sidebar-mini">S</span>
                                        <span class="sidebar-normal">My Savings</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fal fa-chart-pie"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#nav-pos" aria-expanded="false">
                            <i class="fal fa-shopping-cart"></i>
                            <p>
                                Point Of Sales
                                <b class="caret"></b>
                            </p>
                        </a>
                        <div class="collapse" id="nav-pos">
                            <ul class="nav">
                                <li class="nav-item ">
                                    <a class="nav-link" href="#">
                                        <span class="sidebar-mini">S</span>
                                        <span class="sidebar-normal">Sales</span>
                                    </a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link" href="#">
                                        <span class="sidebar-mini">SH</span>
                                        <span class="sidebar-normal">Sales History</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#nav-cem" aria-expanded="false">
                            <i class="fal fa-users"></i>
                            <p>
                                Customer Engagement
                                <b class="caret"></b>
                            </p>
                        </a>
                        <div class="collapse" id="nav-cem">
                            <ul class="nav">
                                <li class="nav-item ">
                                    <a class="nav-link" href="#">
                                        <span class="sidebar-mini">CM</span>
                                        <span class="sidebar-normal">Customer Management</span>
                                    </a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link" href="#">
                                        <span class="sidebar-mini">PM</span>
                                        <span class="sidebar-normal">Product Management</span>
                                    </a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link" href="#">
                                        <span class="sidebar-mini">DM</span>
                                        <span class="sidebar-normal">Discount Management</span>
                                    </a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link" href="#">
                                        <span class="sidebar-mini">MM</span>
                                        <span class="sidebar-normal">Message Management</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#nav-warehouse" aria-expanded="false">
                            <i class="fal fa-archive"></i>
                            <p>
                                Warehouse
                                <b class="caret"></b>
                            </p>
                        </a>
                        <div class="collapse" id="nav-warehouse">
                            <ul class="nav">
                                <li class="nav-item ">
                                    <a class="nav-link" href="#">
                                        <span class="sidebar-mini">MPS</span>
                                        <span class="sidebar-normal">Manage Product Sales</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#nav-financial" aria-expanded="false">
                            <i class="fal fa-chart-line"></i>
                            <p>
                                Financial
                                <b class="caret"></b>
                            </p>
                        </a>
                        <div class="collapse" id="nav-financial">
                            <ul class="nav">
                                <li class="nav-item ">
                                    <a class="nav-link" href="#">
                                        <span class="sidebar-mini">D</span>
                                        <span class="sidebar-normal">Dashboard</span>
                                    </a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link" href="#">
                                        <span class="sidebar-mini">R</span>
                                        <span class="sidebar-normal">Reports</span>
                                    </a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link" href="#">
                                        <span class="sidebar-mini">S</span>
                                        <span class="sidebar-normal">Savings</span>
                                    </a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link" href="#">
                                        <span class="sidebar-mini">D</span>
                                        <span class="sidebar-normal">Transaction</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#nav-humanresource" aria-expanded="false">
                            <i class="fal fa-user"></i>
                            <p>
                                Human Resource
                                <b class="caret"></b>
                            </p>
                        </a>
                        <div class="collapse" id="nav-humanresource">
                            <ul class="nav">
                                <li class="nav-item ">
                                    <a class="nav-link" href="#">
                                        <span class="sidebar-mini">UL</span>
                                        <span class="sidebar-normal">User List</span>
                                    </a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link" href="#">
                                        <span class="sidebar-mini">KPI</span>
                                        <span class="sidebar-normal">KPI Evaluation</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- End Sidebar -->
        <div class="main-panel">
            <!-- Begin Navbar -->
            <nav class="navbar navbar-expand-lg ">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="navbar-minimize">
                            <button id="minimizeSidebar" class="btn btn-simple btn-link d-none d-lg-block">
                                <i class="fal fa-align-left visible-on-sidebar-regular fa-lg"></i>
                                <i class="fal fa-bars visible-on-sidebar-mini fa-lg"></i>
                            </button>
                        </div>
                        <span class="navbar-brand"> Financial Dashboard </span>
                    </div>
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdown-user" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fal fa-user-alt"></i>
                                    <span class="d-lg-none">Profile</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-user">
                                    <a class="dropdown-item" href="#">
                                        <i class="fal fa-inbox"></i> Messages
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <i class="fal fa-user"></i> My Profile
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <i class="fal fa-edit"></i> Edit Profile
                                    </a>
                                    <div class="divider"></div>
                                    <a href="#" class="dropdown-item text-danger">
                                        <i class="fal fa-power-off"></i> Log out
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End navbar -->
            <div class="content">
                <div class="container-fluid">
                    <!-- begin content -->
                    <div class="row">
                        <div class="col-lg-3 col-sm-6">
                            <a href="#">
                                <div class="card card-stats">
                                    <div class="card-body ">
                                        <div class="row">
                                            <div class="col-5">
                                                <div class="icon-big text-center text-info">
                                                    <i class="fal fa-inbox-in "></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer ">
                                        <hr>
                                        <div class="stats text-right">
                                            <span class="stats text-right text-default">
                                                <i class="fal fa-external-link"></i> Go To "Sales Report"</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <a href="#">
                                <div class="card card-stats">
                                    <div class="card-body ">
                                        <div class="row">
                                            <div class="col-5">
                                                <div class="icon-big text-center text-info">
                                                    <i class="fal fa-inbox-out "></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer ">
                                        <hr>
                                        <div class="stats text-right">
                                            <span class="stats text-right text-default">
                                                <i class="fal fa-external-link"></i> Go To "Purchase Report"</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <a href="#">
                                <div class="card card-stats">
                                    <div class="card-body ">
                                        <div class="row">
                                            <div class="col-5">
                                                <div class="icon-big text-center text-info">
                                                    <i class="fal fa-bookmark "></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer ">
                                        <hr>
                                        <div class="stats text-right">
                                            <span class="stats text-right text-default">
                                                <i class="fal fa-external-link"></i> Go To "Savings"</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <a href="#">
                                <div class="card card-stats">
                                    <div class="card-body ">
                                        <div class="row">
                                            <div class="col-5">
                                                <div class="icon-big text-center text-info">
                                                    <i class="fal fa-shopping-cart "></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer ">
                                        <hr>
                                        <div class="stats text-right">
                                            <span class="stats text-right text-default">
                                                <i class="fal fa-external-link"></i> Go To "Transaction"</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- begin saving overview -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Saving Overview</h4>
                                    <p class="card-category">List of member that havent pay</p>
                                </div>
                                <div class="card-body  table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>UserID</th>
                                                <th>Name</th>
                                                <th>Debt</th>
                                                <th>Penalty</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>John Doe</td>
                                                <td>2 Month</td>
                                                <td class="text-danger">+ Rp. 999.999.999</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="card-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end saving overview -->
                    <!-- begin sales chart -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card data-tables">
                                <div class="card-header">
                                    <h4 class="card-title">Sales Report</h4>
                                    <p class="card-category">Monthly Overview</p>
                                </div>
                                <div class="card-body">
                                    <div id="salesChart" class="ct-chart "></div>
                                </div>
                                <div class="card-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Sales chart -->
                    <!-- begin purchase chart -->
                    <div class="row">

                        <div class="col-md-12">
                            <div class="card data-tables">
                                <div class="card-header">
                                    <h4 class="card-title">Purchase Report</h4>
                                    <p class="card-category">Monthly Overview</p>
                                </div>
                                <div class="card-body">
                                    <div id="purchaseChart" class="ct-chart"></div>
                                </div>
                                <div class="card-footer">
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- End purchase chart -->
                    <!-- End content -->
                </div>
            </div>

            <footer class="footer">
                <div class="container">
                    <nav>
                        <p class="copyright text-center">
                            ©
                            <script>
                                document.write(new Date().getFullYear())
                            </script>
                            <a href="#">U-Store</a>,
                            <i class="fal fa-code"></i>
                            </i> with
                            <i class="fal fa-heartbeat"></i> by U-Store IT Division
                        </p>
                    </nav>
                </div>
            </footer>
        </div>
    </div>


</body>

<script src="../assets/js/core/jquery.3.2.1.min.js" type="text/javascript"></script>
<script src="../assets/js/core/popper.min.js" type="text/javascript"></script>
<script src="../assets/js/core/bootstrap.min.js" type="text/javascript"></script>
<script src="../assets/js/plugins/chartist.min.js"></script>
<script src="../assets/js/plugins/chartist-plugin-legend.js"></script>
<script src="../assets/js/plugins/chartist-plugin-label.js"></script>
<script src="../assets/js/plugins/moment.min.js"></script>
<script src="../assets/js/plugins/bootstrap-datetimepicker.js"></script>
<script src="../assets/js/plugins/bootstrap-tagsinput.js" type="text/javascript"></script>
<script src="../assets/js/plugins/nouislider.js" type="text/javascript"></script>
<script src="../assets/js/plugins/bootstrap-selectpicker.js" type="text/javascript"></script>
<script src="../assets/js/plugins/jquery.validate.min.js" type="text/javascript"></script>
<script src="../assets/js/plugins/bootstrap-table.js"></script>
<script src="../assets/js/plugins/jquery.dataTables.min.js"></script>
<script src="../assets/js/plugins/fullcalendar.min.js"></script>
<script src="../assets/js/plugins/sweetalert2.min.js"></script>
<script src="../assets/js/theme.js" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        $('#datatables').dataTable();
    });
</script>
<script>
    var dataSales = {
        labels: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27,
            28, 29, 30
        ],
        series: [
            [22.20, 34.90, 42.28, 51.93, 62.21, 80.23, 62.21, 82.12, 102.50, 107.23, 22.20, 34.90, 42.28, 51.93,
                62.21, 80.23, 62.21, 82.12, 102.50, 107.23, 22.20, 34.90, 42.28, 51.93, 62.21, 80.23, 62.21,
                82.12, 102.50, 107.23
            ],

        ]
    }

    var optionsSales = {
        lineSmooth: true,
        height: "300px",
        axisY: {
            offset: 70,
            labelInterpolationFnc: function (value) {
                return 'Rp.' + value + 'rb';
            }

        },
        low: 10,
        high: 200,
        showArea: true,
        showPoint: true,
        classNames: {
            point: 'ct-point ct-green',
            line: 'ct-line ct-green',
        },
        plugins: [
            Chartist.plugins.ctPointLabels({
                textAnchor: 'middle'
            })
        ]
    };

    Chartist.Line('#salesChart', dataSales, optionsSales);
</script>

<script>
    var dataPurchase = {
        labels: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27,
            28, 29, 30
        ],
        series: [
            [22.20, 34.90, 42.28, 51.93, 62.21, 80.23, 62.21, 82.12, 102.50, 107.23, 22.20, 34.90, 42.28, 51.93,
                62.21, 80.23, 62.21, 82.12, 102.50, 107.23, 22.20, 34.90, 42.28, 51.93, 62.21, 80.23, 62.21,
                82.12, 102.50, 107.23
            ],
            [22.20, 34.90, 42.28, 51.93, 62.21, 80.23, 62.21, 82.12, 102.50, 107.23, 22.20, 34.90, 42.28, 51.93,
                62.21, 80.23, 62.21, 82.12, 102.50, 107.23, 22.20, 34.90, 42.28, 51.93, 62.21, 80.23, 62.21,
                82.12, 102.50, 107.23
            ],

        ]
    }

    var optionsPurchase = {
        lineSmooth: true,
        height: "300px",
        axisY: {
            offset: 70,
            labelInterpolationFnc: function (value) {
                return 'Rp.' + value + 'rb'
            }

        },
        low: 10,
        high: 200,
        showArea: true,
        seriesBarDistance: 10,
        plugins: [
            Chartist.plugins.legend({
                legendNames: ['Product', 'Transaction'],
            })
        ]
    };

    Chartist.Bar('#purchaseChart', dataPurchase, optionsPurchase);
</script>

</html>