<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>{{ $title }}</title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport'/>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="assets/css/fontawesome-all.min.css" rel="stylesheet" />
  <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="assets/css/theme.css" rel="stylesheet" />
  <link href="assets/css/style.css" rel="stylesheet" />
</head>

<body>
  <div class="wrapper wrapper-full-page">
    <div class="full-page">
      <div class="content">
        <div class="container">
          <div class="col-md-4 ml-auto mr-auto">
            <form id="login" class "form login">
              <div class="card">
                <div class="card-header ">
                  <h3 class="header text-center">Login</h3>
                </div>
                <div class="card-body ">
                  <div class="card-body">
                    <div class="form-group">
                      <label>Email address</label>
                      <input type="email" placeholder="Enter email" class="form-control">
                    </div>
                    <div class="form-group">
                      <label>Password</label>
                      <input type="password" placeholder="Password" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <button type="submit" class="btn btn-info btn-block">Login</button>
                  <button type="submit" class="btn btn-outline btn-default btn-block">Register</button>
                  <div class="text-center">Forgot Password ?
                    <a href="#">Click Here </a>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

<script src="assets/js/core/jquery.3.2.1.min.js" type="text/javascript"></script>
<script src="assets/js/core/popper.min.js" type="text/javascript"></script>
<script src="assets/js/core/bootstrap.min.js" type="text/javascript"></script>
<script src="assets/js/theme.js" type="text/javascript"></script>

</html>