/* 
 * Navigation
 * ---
 *
 * me copyright blarghh
 * 
 */
.ustore-business-bar
{
    background: var(--primary-light);
    width: 100%;
    height: 30px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.ustore-business-bar p
{
    font-size: 12px;
    margin: 0px;
    color: #fff;
}

.ustore-business-bar p>a
{
    color: #ccf4ff;
}

.ustore-navigation
{
    background: var(--primary);
    width: 100%;
    height: 60px;
    margin-bottom: 30px;
}

.ustore-navigation>.menu
{
    float: right;
    padding: 10px;
}
.ustore-navigation>.menu>ul
{
    list-style-type: none;
}
.ustore-navigation>.menu>ul>li
{
    display: inline-block;
}
.ustore-navigation>.menu>ul>li>a
{
    display: block;
    color: #fff;
    padding: 10px;
    font-size: 12px;
}

/* 
 * Footer
 * ---
 *
 * me copyright blarghh
 * 
 */
footer
{
    margin-top: 30px;
    height: 40px;
    padding: 10px;
    width: 100%;
    color: #fff;
    background: var(--elegant-primary);
}

footer>p
{
    margin: 0px;
    font-size: 12px;
}