/*
 * Ustore Admin Theme - v1.0.0
 * ---
 *
 * Author: Jeremias Rama Wijaya
 * jeremias.ramaw@outlook.com
 *
 * Development Team:
 * - Dian Pratama
 * - Sandro Owen
 * - Anthonny
 * - Wilson Philips
 */

@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

*
{
	font-family: 'Raleway', sans-serif;
	box-sizing: border-box;
}

:root 
{
	--primary: #06AFDE;
	--secondary: #FFCE00;
	--tertienary: #F60046;
	--primary-light: #29B8E0;
	--elegant-primary: #2e2e2e;
	--elegant-secondary: #1d1d1d;
	--color-gray: #e4e4e4;
	--color-dark-gray: #afadad;
}

body {
  background: #fafafa;
  color: #333333;
}

/* 
 * Background Color
 * ---
 *
 * Give background color to target element
 * 
 */
.bg-muted { background: #9A9A9A; }
.bg-primary { background: #1D62F0 !important; }
.bg-info { background: #23CCEF !important; }
.bg-success { background: #87CB16 !important; }
.bg-warning { background: #FFA534 !important; }
.bg-danger { background: #FB404B !important; }

.cart-item { padding: 15px 0 15px 0; }
.cart-item:hover { background: rgba(0, 0, 0, 0.05); }
.cart-item-text { margin-bottom: 0; }

/* 
 * Table
 * ---
 *
 * nice looking tables
 * 
 */
table { font-size: 12px; }

/* 
 * Wrapper
 * ---
 *
 * like a kebab
 * 
 */
.wrapper
{
	width: 1280px;
	padding: 15px;
	margin: 0 auto;
}

.dashboard-container
{
	width: 100%;
}
.dashboard-left,
.dashboard-right
{
	display: inline-block;
}

.dashboard-left
{
	width: 33.33%;
}

.dashboard-right
{
	width: 67.77%;
}

@media (max-width: 1280px)
{
	.wrapper
	{
		width: 100%;
	}
}

/* 
 * Tables
 * ---
 *
 * Table settings
 * 
 */
table { border-collapse: initial; }

/* 
 * Typography
 * ---
 *
 * The fontface and everything
 * 
 */
.fc-auto { width: auto !important; }
.btn-verysmall { padding: 5px; font-size: var(--fontsize-verysmall); }
.font-medium { font-size: var(--fontsize-medium); font-weight: 300; }
.text-align-right { text-align: right; }
.greyed { color: var(--color-gray); }
p, label { font-size: 12px; }
h3 { letter-spacing: -1px; }

/* 
 * Form
 * ---
 *
 * Login container and its requirements
 * 
 */
.btn-long
{
	padding-left: 40px;
	padding-right: 40px;
}
.btn { font-size: 12px; }
.form-control { font-size: 12px; }

/* 
 * Login
 * ---
 *
 * Login container and its requirements
 * 
 */
.login-form
{
	height: 100vh;
	width: 100vw;
	background: url('../images/rawpixel-617382-unsplash.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.login-container
{
	width: 375px;
	padding: 40px;  
	background: #fff;
	border-radius: 5px;
	margin-top: 10vh;
	margin-left: 5vw;
}

.login-container h3 { margin-top: 0px; }

.login-container .login-control
{
	margin-top: 25px;
}

.login-container .login-control>input:first-child
{
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}

.login-container .login-control>input:last-child
{
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
	margin-top: -1px;
}

@media (max-width: 450px)
{
	.login-container
	{
		width: 100%;
		margin-left: 0px;
	}
}


/* 
 * Avatar
 * ---
 *
 * Everybody needs a photo
 * 
 */


.avatar-container h1,
.avatar-container h2,
.avatar-container h3,
.avatar-container h4,
.avatar-container h5,
.avatar-container h6
{
	margin: 0px;
	padding: 0px;
}

.avatar-container h5
{
	margin-top: 20px;
}

.avatar-container span
{
	color: var(--color-dark-gray);
}

.avatar
{
	border-radius: 100%;
	background-size: cover !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
}

.avatar-large
{
	width: 100px;
	height: 100px;
}

/* 
 * Section Title
 * ---
 *
 * A title of a section with icon
 * 
 */
.section-title
{
	width: 100%;
	height: 100px;
	margin-bottom: 20px;
	position: relative;
}

.section-title>img
{
	width: 100px;
	height: 100px;
}

.section-title>.section-title-content
{
	position: absolute;
	top: 25px;
	left: 105px
}

.section-title>.section-title-content>h1
{
	font-size: 18px;
	font-weight: 700;
	margin: 0px;
}

.section-title>.section-title-content>p
{
	margin: 0px;
}

/* 
 * News Box
 * ---
 *
 * News news news news news
 * 
 */

.news-container
{
	padding: 5px;
}

.news-box
{
	border-radius: 5px;
	height: 175px;
	width: 100%;
	display: block;
	position: relative;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-touch-callout: none; 
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	user-select: none;
}

.news-box:hover>.news-overlay
{
	background: rgba(0, 0, 0, 0.5);
	transition: 0.25s all;
}

.news-box>.news-overlay
{
	background: rgba(0, 0, 0, 0.0);
	height: 100%;
	width: 100%;
	border-radius: 5px;
	transition: 0.25s all;
}

.news-box>.news-overlay>.news-content
{
	position: absolute;
	color: #fff;
	padding: 20px;
	width: 100%;
	bottom: 0px;
}

.news-box>.news-overlay>.news-content>h5
{
	font-weight: 700;
	margin: 0px;
}

/* @media (max-width: 700px)
{
	.news-box
	{
		display: block;
		width: 100%;
		margin-bottom: 10px;
	}
} */

/* 
 * Shortcut Button
 * ---
 *
 * it's a button, what else?
 * 
 */

.shortcut-container
{
	padding: 5px;
	margin: 0px;
}

.shortcut-button
{
	padding: 20px;
	height: 125px;
	width: 100%;
	display: inline-block;
	text-align: center;
	color: #000;
	border-radius: 0px;
	text-decoration: none !important;
	border: 1px solid var(--color-gray);
	transition: 0.25s all;
	-webkit-touch-callout: none; 
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	user-select: none;
}

.shortcut-button:hover
{
	background: var(--tertienary);
	color: #fff;
	border: 1px solid rgba(0,0,0,0);
	border-radius: 15px;
	transition: 0.25s all;
}

.shortcut-button>p
{
	font-size: 12px;
}

.shortcut-button>img
{
	height: 50px;
}

/* 
 * Cool checkbox
 * ---
 *
 * it's cool!
 * 
 */

.inputGroup
{
	background-color: #fff;
	display: block;
	margin: 5px 0;
	position: relative;
}

.inputGroup label
{
	padding: 10px 24px;
	width: 100%;
	display: block;
	text-align: left;
	color: #3C454C;
	cursor: pointer;
	position: relative;
	z-index: 2;
	transition: color 200ms ease-in;
	overflow: hidden;
	font-size: 12px;
}

.inputGroup label:before
{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	content: '';
	background-color: var(--primary);
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%) scale3d(1, 1, 1);
	transform: translate(-50%, -50%) scale3d(1, 1, 1);
	transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
	opacity: 0;
	z-index: -1;
}

.inputGroup label:after
{
	width: 24px;
	height: 24px;
	content: '';
	border: 2px solid #D1D7DC;
	background-color: #fff;
	background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
	background-repeat: no-repeat;
	background-position: -3px -1px;
	border-radius: 50%;
	z-index: 2;
	position: absolute;
	right: 30px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	cursor: pointer;
	transition: all 200ms ease-in;
}

.inputGroup input:checked ~ label
{
	color: #fff;
}

  .inputGroup input:checked ~ label:before
{
	-webkit-transform: translate(-50%, -50%) scale3d(56, 56, 1);
	transform: translate(-50%, -50%) scale3d(56, 56, 1);
	opacity: 1;
}

.inputGroup input:checked ~ label:after
{
	background-color: var(--secondary);
	border-color: var(--secondary);
}

.inputGroup input
{
	width: 32px;
	height: 32px;
	order: 1;
	z-index: 2;
	position: absolute;
	right: 30px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	cursor: pointer;
	visibility: hidden;
}


/* 
 * Wizzard Form
 * ---
 *
 * make things step by step
 * 
 */

.wizzard	
{
	width: 800px;
	height: 475px;
	border-radius: 5px;
	margin: auto;
	background: #fff;
	border: 1px solid var(--color-gray);
} 

.wizzard-bg
{
	color: #fff;
	height: 100%;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	background-size: cover !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
	margin: 0px;
	padding: 0px;
}

.wizzard-bg>.wizzard-overlay
{
	padding: 30px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	/* background: rgba(0,0,0,0.5); */
	width: 100%;
	height: 100%;
	position: relative;
}

.wizzard-bg>.wizzard-overlay>.overlay-content
{
	width: 90%;
	/* position: absolute;
	bottom: 20px; */
}

.wizzard-step
{
	width: 100%;
	height: 100%;
	padding: 40px;
	position: relative;
	overflow: hidden;
}

.wizzard-step-content
{
	position: absolute;
	display: none;
	width: calc(100% - 80px);
}

.wizzard-content
{
	height: 100%;
}

.wizzard-bg>.wizzard-overlay>.overlay-content>h1
{
	font-size: 32px;
	font-weight: 800;
}

#navigation-button
{
	position: absolute;
	bottom: 40px;
}

@media (max-width: 800px)
{
	.wizzard
	{
		width: 100%;
	}
}

@media (max-width: 775px)
{
	.wizzard-bg { display: none; }
}
 
/* 
 * Etc
 * ---
 *
 * uncategorized
 * 
 */

.badge { font-size: 12px; }

.login-error
{
	font-size: 12px;
	color: #ff0000;
}

.full-page:before {
	opacity: 1;
	background: #fafafa;
}

.sidebar .divider {
	height: 1px;
	margin: 5px 0;
	overflow: hidden;
	background: rgba(255, 255, 255, 0.2);
	max-width: 200px;
}

.cart-remove
{
	color: #fff !important;
}

.game-icon
{
	height: 15px;
}


/* 
 * Spacing
 * ---
 *
 * Give / remove space to target element
 * 
 */
 .p-left-0 { padding-left: 0px; }
 .p-right-0 { padding-right: 0px; }
 .p-all-5 { padding: 5px; }
 .p-left-5 { padding-left: 5px; }
 .p-right-5 { padding-right: 5px; }
 .p-all-15 { padding: 15px; }
 
 .m-left-5 { margin-left: 5px; }
 .m-right-5 { margin-right: 5px; }
 .m-top-0 { margin-top: 0px; }
 .m-top-5 { margin-top: 5px; }
 .m-top-10 { margin-top: 10px; }
 .m-top-30 { margin-top: 30px; }
 .m-all-0 { margin: 0px; }
 .m-all-0 { margin: 0px; }
 .m-all-5 { margin: 5px; }
 .m-bottom-0 { margin-bottom: 0px; }
 .m-bottom-5 { margin-bottom: 5px; }
 .m-bottom-10 { margin-bottom: 10px; }
 
 .p-perc-left-5 { padding-left: 5%; }
 .p-perc-right-5 { padding-right: 5%; }
 
 .rem-margin { margin: 0px; }
 .rem-space { margin: 0px; padding:0px; }
 
 .full-width { width: 100%; }
 