<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>{{ $title }}</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport'
    />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="../assets/css/fontawesome-all.min.css" rel="stylesheet" />
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../assets/css/theme.css" rel="stylesheet" />
    <link href="../assets/css/style.css" rel="stylesheet" />
</head>

<body>
    <div class="wrapper">
        <!-- Begin Sidebar -->
        <div class="sidebar" data-color="azure">
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="#" class="simple-text logo-mini">U</a>
                    <a href="#" class="simple-text logo-normal">U-Store ERP</a>
                </div>
                <div class="user">
                    <div class="photo">
                        <img src="http://via.placeholder.com/400/fafafa?text=IMG">
                    </div>
                    <div class="info ">
                        <a data-toggle="collapse" href="#myprofile" class="collapsed" aria-expanded="false">
                            <span>Hi, John Doe
                                <b class="caret"></b>
                            </span>
                        </a>
                        <div class="collapse" id="myprofile" style="height: auto;">
                            <ul class="nav">
                                <li>
                                    <a class="profile-dropdown" href="#">
                                        <span class="sidebar-mini">C</span>
                                        <span class="sidebar-normal">Check-In</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="profile-dropdown" href="#">
                                        <span class="sidebar-mini">MS</span>
                                        <span class="sidebar-normal">My Schedule</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="profile-dropdown" href="#">
                                        <span class="sidebar-mini">S</span>
                                        <span class="sidebar-normal">My Savings</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fal fa-chart-pie"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#nav-pos" aria-expanded="false">
                            <i class="fal fa-shopping-cart"></i>
                            <p>
                                Point Of Sales
                                <b class="caret"></b>
                            </p>
                        </a>
                        <div class="collapse" id="nav-pos">
                            <ul class="nav">
                                <li class="nav-item ">
                                    <a class="nav-link" href="#">
                                        <span class="sidebar-mini">S</span>
                                        <span class="sidebar-normal">Sales</span>
                                    </a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link" href="#">
                                        <span class="sidebar-mini">SH</span>
                                        <span class="sidebar-normal">Sales History</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#nav-cem" aria-expanded="false">
                            <i class="fal fa-users"></i>
                            <p>
                                Customer Engagement
                                <b class="caret"></b>
                            </p>
                        </a>
                        <div class="collapse" id="nav-cem">
                            <ul class="nav">
                                <li class="nav-item ">
                                    <a class="nav-link" href="#">
                                        <span class="sidebar-mini">CM</span>
                                        <span class="sidebar-normal">Customer Management</span>
                                    </a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link" href="#">
                                        <span class="sidebar-mini">PM</span>
                                        <span class="sidebar-normal">Product Management</span>
                                    </a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link" href="#">
                                        <span class="sidebar-mini">DM</span>
                                        <span class="sidebar-normal">Discount Management</span>
                                    </a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link" href="#">
                                        <span class="sidebar-mini">MM</span>
                                        <span class="sidebar-normal">Message Management</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#nav-warehouse" aria-expanded="false">
                            <i class="fal fa-archive"></i>
                            <p>
                                Warehouse
                                <b class="caret"></b>
                            </p>
                        </a>
                        <div class="collapse" id="nav-warehouse">
                            <ul class="nav">
                                <li class="nav-item ">
                                    <a class="nav-link" href="#">
                                        <span class="sidebar-mini">MPS</span>
                                        <span class="sidebar-normal">Manage Product Stock</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#nav-financial" aria-expanded="false">
                            <i class="fal fa-chart-line"></i>
                            <p>
                                Financial
                                <b class="caret"></b>
                            </p>
                        </a>
                        <div class="collapse" id="nav-financial">
                            <ul class="nav">
                                <li class="nav-item ">
                                    <a class="nav-link" href="#">
                                        <span class="sidebar-mini">D</span>
                                        <span class="sidebar-normal">Dashboard</span>
                                    </a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link" href="#">
                                        <span class="sidebar-mini">R</span>
                                        <span class="sidebar-normal">Reports</span>
                                    </a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link" href="#">
                                        <span class="sidebar-mini">S</span>
                                        <span class="sidebar-normal">Savings</span>
                                    </a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link" href="#">
                                        <span class="sidebar-mini">D</span>
                                        <span class="sidebar-normal">Transaction</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#nav-humanresource" aria-expanded="false">
                            <i class="fal fa-user"></i>
                            <p>
                                Human Resource
                                <b class="caret"></b>
                            </p>
                        </a>
                        <div class="collapse" id="nav-humanresource">
                            <ul class="nav">
                                <li class="nav-item ">
                                    <a class="nav-link" href="#">
                                        <span class="sidebar-mini">UL</span>
                                        <span class="sidebar-normal">User List</span>
                                    </a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link" href="#">
                                        <span class="sidebar-mini">KPI</span>
                                        <span class="sidebar-normal">KPI Evaluation</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- End Sidebar -->
        <div class="main-panel">
            <!-- Begin Navbar -->
            <nav class="navbar navbar-expand-lg ">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="navbar-minimize">
                            <button id="minimizeSidebar" class="btn btn-simple btn-link d-none d-lg-block">
                                <i class="fal fa-align-left visible-on-sidebar-regular fa-lg"></i>
                                <i class="fal fa-bars visible-on-sidebar-mini fa-lg"></i>
                            </button>
                        </div>
                        <span class="navbar-brand"> Point Of Sales </span>
                    </div>
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdown-user" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fal fa-user-alt"></i>
                                    <span class="d-lg-none">Profile</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-user">
                                    <a class="dropdown-item" href="#">
                                        <i class="fal fa-inbox"></i> Messages
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <i class="fal fa-user"></i> My Profile
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <i class="fal fa-edit"></i> Edit Profile
                                    </a>
                                    <div class="divider"></div>
                                    <a href="#" class="dropdown-item text-danger">
                                        <i class="fal fa-power-off"></i> Log out
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End navbar -->
            <div class="content">
                <div class="container-fluid">
                    <!-- begin content -->
                    <div class="row">
                        <!-- begin sales table -->
                        <div class="col-md-12">
                            <div class="card data-tables">
                                <div class="card-header">
                                    <h4 class="card-title">Sales History</h4>
                                    <p class="card-category">Point Of Sales</p>
                                </div>
                                <div class="card-body table-striped table-no-bordered table-hover dataTable dtr-inline table-full-width">
                                    <div class="toolbar">

                                    </div>
                                    <div class="fresh-datatables">
                                        <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>Invoice ID</th>
                                                    <th>Cust. Name</th>
                                                    <th>Date / Time</th>
                                                    <th>Total Amount</th>
                                                    <th class="disabled-sorting text-right">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>000000000111</td>
                                                    <td>Placeholder Customer Name</td>
                                                    <td>02/01/2018 - 9:36 AM</td>
                                                    <td>90000000</td>
                                                    <td class="text-right">
                                                        <button type="button" class="btn btn-outline btn-default" data-toggle="modal" data-target="#detailsModal">
                                                            <span class="btn-label">
                                                                <i class="far fa-info"></i>
                                                            </span>
                                                            Details
                                                        </button>
                                                        <button type="button" class="btn btn-danger" onclick="revokeTransaction();">
                                                            <span class="btn-label">
                                                                <i class="far fa-trash-alt"></i>
                                                            </span>
                                                            Revoke
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Sales Table -->
                    </div>
                    <!-- Begin Details Modal -->
                    <div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="detailsModalLabel">Transaction Details</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">
                                            <i class="fal fa-times"></i>
                                        </span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <fieldset>
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-sm-4 control-label">Invoice ID</label>
                                                <div class="col-sm-8">
                                                    <p class="form-control-static">000000000111</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label class="col-sm-4 control-label">Cust. Name</label>
                                                <div class="col-sm-8">
                                                    <p class="form-control-static">Placeholder Customer Name</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label class="col-sm-4 control-label">Date / Time</label>
                                                <div class="col-sm-8">
                                                    <p class="form-control-static">02/01/2018 - 9:36 AM</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label class="col-sm-4 control-label">Total Amount</label>
                                                <div class="col-sm-8">
                                                    <p class="form-control-static"> 90000000</p>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <label class="col-sm-4 control-label">Product</label>
                                                <div class="col-sm-8">
                                                    <p class="form-control-static">Name Product 1</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label class="col-sm-4 control-label"></label>
                                                <div class="col-sm-8">
                                                    <p class="form-control-static">Name Product 2</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label class="col-sm-4 control-label"></label>
                                                <div class="col-sm-8">
                                                    <p class="form-control-static">Name Product 3</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label class="col-sm-4 control-label"></label>
                                                <div class="col-sm-8">
                                                    <p class="form-control-static">Name Product 4</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label class="col-sm-4 control-label"></label>
                                                <div class="col-sm-8">
                                                    <p class="form-control-static">Name Product 5</p>
                                                </div>
                                            </div>

                                        </div>
                                    </fieldset>
                                </div>
                                <div class="modal-footer">

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- begin Details Modal -->
                    <!-- End content -->
                </div>
            </div>

            <footer class="footer">
                <div class="container">
                    <nav>
                        <p class="copyright text-center">
                            ©
                            <script>
                                document.write(new Date().getFullYear())
                            </script>
                            <a href="#">U-Store</a>,
                            <i class="fal fa-code"></i>
                            </i> with
                            <i class="fal fa-heartbeat"></i> by U-Store IT Division
                        </p>
                    </nav>
                </div>
            </footer>
        </div>
    </div>

</body>

<script src="../assets/js/core/jquery.3.2.1.min.js" type="text/javascript"></script>
<script src="../assets/js/core/popper.min.js" type="text/javascript"></script>
<script src="../assets/js/core/bootstrap.min.js" type="text/javascript"></script>
<script src="../assets/js/plugins/chartist.min.js"></script>
<script src="../assets/js/plugins/moment.min.js"></script>
<script src="../assets/js/plugins/bootstrap-datetimepicker.js"></script>
<script src="../assets/js/plugins/bootstrap-tagsinput.js" type="text/javascript"></script>
<script src="../assets/js/plugins/nouislider.js" type="text/javascript"></script>
<script src="../assets/js/plugins/bootstrap-selectpicker.js" type="text/javascript"></script>
<script src="../assets/js/plugins/jquery.validate.min.js" type="text/javascript"></script>
<script src="../assets/js/plugins/bootstrap-table.js"></script>
<script src="../assets/js/plugins/jquery.dataTables.min.js"></script>
<script src="../assets/js/plugins/fullcalendar.min.js"></script>
<script src="../assets/js/plugins/sweetalert2.min.js"></script>
<script src="../assets/js/theme.js" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        $('#datatables').dataTable();
    });
</script>
<script>
    function revokeTransaction() {
        swal({
            type: 'warning',
            title: 'Are you sure ?',
            text: 'Confirm your password to continue',
            showCancelButton: true,
            confirmButtonColor: '#FB404B',
            confirmButtonText: 'Yes, delete it!',
            input: 'password',
            inputPlaceholder: 'Enter your password',
            inputAttributes: {
                'autocapitalize': 'off',
                'autocorrect': 'off'
            }
        }).then((result) => {
            if (result.value) {
                swal(
                    'Deleted!',
                    'Transaction has been deleted.',
                    'success'
                )
            }
        })
    }

</script>

</html>